* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tinos", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  position: relative;
}

a {
  text-decoration: none;
  text-decoration-color: white;
  color: #333;
}

ul {
  list-style: none;
}

p {
  color: rgb(85, 85, 85);
}

image {
  max-width: 100%;
}

/* transition classes */

.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAVIGATION */

nav,
.navbar {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.navbar {
  gap: 2rem;
  list-style: none;
  font: 1.5rem;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
  cursor: pointer;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}
/* ULTILITY CLASSES */

html {
  scroll-behavior: smooth;
}

/* PROFILE SECTION */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  position: relative;
}

.section-container {
  display: flex;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section-pic-container {
  display: flex;
  border-radius: 10%;
  height: auto;
  width: auto;
  margin: auto 0;
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 600;
}

.section-text-p1 {
  text-align: center;
}
.section-text-p1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.section-text-p2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTON */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}
.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-container {
  gap: 2rem;
  margin-bottom: 7rem;
  margin-top: 0rem;
}

.about-detail-container {
  justify-content: center;
  flex-direction: column;
}

.about-container,
.about-detail-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
  size: flex;
  max-height: auto;
  max-width: auto;
}

.icon-arrow {
  position: absolute;
  right: -8rem;
  bottom: 0rem;
  margin-bottom: 0rem;
}

.detail-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-detail-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
}

.article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
article .icon {
  cursor: default;
}

/* PROJECT SECTION */
#projects {
  position: relative;
}

.color-container {
  border-color: rgb(204, 191, 191);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  max-width: auto;
  max-height: 480px;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
  width: 30%;
  align-items: center;
}

/* CONTACT SECTION */

#contactInfo {
  position: relative;
}

.contactBox {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.info-upper-container {
  position: relative; /* Keeps it in the document flow */
  margin: 1rem auto; /* Add margin to create spacing from the element above */
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  padding: 0.5rem;
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
}

.contactInfo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contactInfo-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  height: 2rem;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
