*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Tinos', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

p{
    color: rgb(85, 85, 85);
}

image{
max-width: 100%;
}

/* transition classes */

.btn{
    transition: all 300ms ease;
}

/* desktop nav */

nav, .navbar{
    display: flex;

}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
/* ULTILITY CLASSES */ 

html{
    scroll-behavior: smooth;
}